@font-face {
  font-family: "CormorantInfantLight";
  src: url("../fonts/CormorantInfant-Light.woff") format("woff");
  font-weight: 300;
  font-size: normal;
  font-display: swap;
}


@font-face {
  font-family: "CormorantInfantRegular";
  src: url("../fonts/CormorantInfant-Regular.woff") format("woff");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "WonderGardene";
  src: url("../fonts/WonderGardene.woff") format("woff");
  // font-weight: 500;
  font-size: normal;
  font-display: swap;
}