body {
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-test2);
  > .container {
    margin: 0 auto;
    background-color: white;
    padding: 0;
    box-shadow: 0 0 10px 5px #ffffff;
  }
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding-x);
}


h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 53px;
}

h3,
.h3 {
  font-size: 36.5px;
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 400;
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;
  }
}

span {
  font-family: var(--font-family-special);
  display: block;
  line-height: 1;
}
